{% extends 'base.html' %}
{% block content %}
      <div class="about">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>It's Nice to Meet You!</small>
                </h1>
                <p><b>Sentiment Analysis</b> (also known as opinion mining) refers text analysis and computational linguistics to identify <br>and extract subjective information in source materials.</p>
                <p>This is the independent project on sentiment analysis in python.It uses twitter streaming API to analys any topic provided by the user.</p>
            </div>
        </div>
      </div>
{% endblock%}