{% extends 'base.html' %}
{% block content %}

<!-- Navigation -->


    <!-- Header -->
    <div class="intro-header">
        <div class="container">

            <div align ='center' class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Sentiment Analysis</h1>
                        <h3>Find Sentiment on Any Current Topic</h3>
                        <hr class="intro-divider">
                        <form method="POST" class="form-inline" action="/getKeyword">
                            <input id="search" type="text" placeholder="Keyword..."  name="keyword" required>
                             <input id="button" type="submit" value="Get Sentiment" />
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->
    <!-- Footer -->



{% endblock %}
